{% extends "base.html" %}
{% block title %} Create group {% endblock %}
{% block content %}
<div class="container create-main">
    <div class="create-box">
    <form action="/group_submit" method="post">
        <span class="create-text-center">Input group name you want to create</span>
        <div class="create-input-container">
            {{ group_form.hidden_tag() }}
            {{group_form.group_name(class="group-name-box", maxlength=50)}}
            <label>Group Name</label>
        </div>
        <button type="submit" class="create-btn">Create</button>
    </form>
</div>
</div>
{% endblock %}
