{% extends "landing_base.html" %}
{% block title %}
MyOKR - A new method to manage group progress
{% endblock %}
{% block content %}

<!-- Header -->
<header id="head">
    <div class="container">
        <div class="row">
            <h1 class="lead">FAST, CONCICE, FREE</h1>
            <p class="tagline">MyOKR: A new method to manage progress</p>
            <p><a href="/my_okr" class="btn btn-default btn-lg" role="button">START NOW</a> <a href="/signup" class="btn btn-action btn-lg" role="button">Free to try</a></p>
        </div>
    </div>
</header>
<!-- /Header -->
<!-- Intro -->
<div class="container text-center">
    <br> <br>
    <h2 class="thin">This is MyOKR</h2>
    <p class="text-muted">
        A special and efficient way to schedule your time tabel or manage team
    </p>
</div>
<!-- /Intro-->
<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
    <div class="container">
        <h3 class="text-center thin">Reasons to use this Website</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-cogs fa-5"></i>What is OKR</h4>
                </div>
                <div class="h-body text-center">
                    <p> OKR (Objectives and Key Results) is a set of management tools and methods to define and track the completion of targets. It is also a simple and effective system for companies to manage their objectives from the top down to the grassroots level.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-flash fa-5"></i>How to implement OKR</h4>
                </div>
                <div class="h-body text-center">
                    <p>(1) Goal setting. (annual targets, quarterly targets, starting with strategy)
                        (2) Define the KRs for each goal (from quarterly goals to "key results" breakdown)
                        (3) Drive implementation (from key results to "action plans")
                        (4) Regular review.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-heart fa-5"></i>Basic requirements for formulation</h4>
                </div>
                <div class="h-body text-center">
                    <p>(1) A maximum of five O's with a maximum of four KRs per O.
                        (2) All must be collaborative, no command forms can appear.
                        (3) A score of 0.6-0.7 is a good performance, so 0.6-0.7 will be your target.
                        (4) Someone to ensure that everyone is marching towards the same goals.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-smile-o fa-5"></i>OKR Principles</h4>
                </div>
                <div class="h-body text-center">
                    <p>(1) OKRs should be quantifiable (time & quantity).
                        (2) Goals are ambitious and challenging.
                        (3) Each person's OKRs are transparent to the whole company. Each person's introduction page should contain a record of their OKRs, including content and ratings.</p>
                </div>
            </div>
        </div> <!-- /row  -->
    </div>
</div>
<!-- /Highlights -->
<!-- container -->
<div class="container">
    <h2 class="text-center top-space">Frequently Asked Questions</h2>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Why use OKR?</h3>
            <p>It can focus on a sense of purpose across the company. OKRs provide a common basis of accountability for everyone, no matter what their focus is. Ability to shortcomings focus and prioritise; OKRs provide a concrete way to give everyone an understanding of what is actually being focused and prioritised.</p>
        </div>
        <div class="col-sm-6">
            <h3>What is the main difference between OKR and KPI?</h3>
            <p>OKR is not an appraisal tool, but a more directive one, as opposed to KPI. The main purpose of OKR is not to assess a team or an employee, but to remind everyone what the task at hand is.</p>
        </div>
    </div> <!-- /row -->
    <div class="row">
        <div class="col-sm-6">
            <h3>What can OKR do for me?</h3>
            <p>OKRs develop the discipline to think and plan for the long term. For managers, putting goals on the page clarifies expectations. For others, OKRs provide transparency in terms of topics and priorities and facilitate collaboration between tasks.</p>
        </div>
        <div class="col-sm-6">
            <h3>What are the disadvantages of OKR?</h3>
            <p>(1) Requires a high level of overall personnel quality and involvement.
                (2) The objectives are focused on short-term settings.
                (3) Requires a certain amount of time and energy and resources from each person.</p>
        </div>
    </div> <!-- /row -->
    <div class="jumbotron top-space">
        <h4>To learn more about what OKR is, its advantages and disadvantages, and how to use it, you can visit the OKR encyclopedia for further information.</h4>
        <p class="text-right"><a href="https://baike.baidu.com/item/OKR/2996251" class="btn btn-primary btn-large">Learn more »</a></p>
    </div>
</div>
<!-- /container -->
{% endblock %}