{% extends "base.html" %}
{% block title %} Stream {% endblock %}
{% block content %}
<div class="timeline-container">
    <canvas title="picture of a clock" id="canvasID" width="300" height="300">Your browser does not support the canvas element.</canvas>
    <div class="timeline">
        <ul>
            {% for obj in obj_list %}
            <li>
                <div class="timeline-content">
                    <h3 class="date">
                        {{obj.date}}
                    </h3>
                    <h1>{{obj.title}}</h1>
                    {% for kr in obj.keyResults %}
                    <p>{{kr.dcp}}</p>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}